.banner-carousel-container .banner-body {
    position: absolute;
    top: 0;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.banner-carousel-container .owl-dots {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}
