/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/*
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@200;300;400&display=swap');
*/

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&display=swap");
@import url("https://use.typekit.net/nkq8fly.css");
@font-face { font-family: "tungstenw05-medium"; font-weight: 500; font-style: normal; font-display: swap;
  src: url("../fonts/tungstenw05-medium.woff2") format("woff2"), url("../fonts/tungstenw05-medium.woff") format("woff"); }

 :root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: #ffffff;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #000000;
  --text-color-white: #ffffff;

  /* fonts */
  --body-font-family: myriad-pro, Arial;
  --heading-font-family: "tungstenw05-medium", "Oswald", sans-serif;
  --fixed-font-family: myriad-pro, Arial;

  /* body sizes */
  --body-font-size-m: 26px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 14px;

  /* heading sizes */
  --heading-font-size-xxl: 80px;
  --heading-font-size-xl: 70px;
  --heading-font-size-l: 35px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;
}

body, html {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
  font-weight: 300;
  padding: 0;
  margin: 0;
  line-height: 1.42857143;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }


@media (min-width: 900px) {  
  .div-container > div {
    max-width: 1200px;
    margin: auto;
  }
}
@media (max-width: 900px) {  
  /* :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;  
  } */
}

dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: var(--body-font-size-s);
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

p {
  margin: 0 0 1em;
}

.section:empty,
p:empty {
 display: none;
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

/* buttons */
.button-container .button {
  color: var(--text-color-white);
  border: 2px solid #ffffff;
  position: relative;
  z-index: 1;
  display: inline-block;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 30px;
  letter-spacing: 2px;
  margin: 1.11rem 0;
  text-decoration: none;
  font-size: 26px;
  overflow: hidden;
  font-weight: 500;
  font-family: var(--heading-font-family);
  text-transform: uppercase;
}
.button-container .button:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--background-color);
  z-index: -1;
  transform: translate(-50%, -50%) rotate(45deg);
}
.button-container .button:hover,
.button-container .button:focus {
  border: 2px solid #ffffff;
  /*  background-color: transparent;*/
  color: #000;
  background-color: var(--background-color);
  text-decoration: none;
}
.button-container .button:hover:before {
  height: 1000%;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
} 


main input {
  font-size: var(--body-font-size-s);
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;    
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main .section {
  width: 100%;
  display: inline-block;
/*   float: left; */
  /* padding: 64px 16px; */
  clear: both;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* @media (min-width: 600px) {
  main .section {
    padding: 64px 32px;
  }  
} */

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.bg-light-white {
  background-color: #f2f2f2 !important;
}
main .section.section-nin .button-container .button,
.position-absolute-center {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

/* Section Default */
main .section h2 {
  font-weight: 400;
  font-size: var(--heading-font-size-xl);
  margin: 0
}
@media only screen and (max-width: 1024px) {
  main .section h2 {
    font-size: var(--heading-font-size-xl);
  }
}
@media only screen and (max-width: 900px) {
  main .section h2 {
    font-size: var(--heading-font-size-xl);
  }
}

main .section p {
  font-family: var(--fixed-font-family);
  font-size: var(--heading-font-size-xs);
  font-weight: 300;
}

/* Button */
main .section .button-container,
main .section .button-container .button {
  margin-bottom: 0;
  font-family: var(--heading-font-family);
  font-size: var(--body-font-size-m);
}
main .section .button-container .button {
  border-radius: 0;
  background: transparent;
  margin-top: 0;
  color: #df9926;
  border-color: #df9926;
}
main .section .button-container .button:before,
main .section .button-container .button:hover,
main .section .button-container .button:focus {
    background-color: #df9926;
    color: var(--text-color-white);
}

/* Slider Section */
main .section-slider .button-container .button {
  color: var(--text-color-white);
  border-color: #ffffff;
}
main .section-slider .button-container .button:before,
main .section-slider .button-container .button:hover,
main .section-slider .button-container .button:focus {
    background-color: var(--background-color);
    color: #000000; 
}

/* 1 Section */
main .div-container.section-one > div {
  max-width: 930px;
}
main .div-container.section-one p {
  font-size: var(--body-font-size-m);
}
main .div-container.section-one h2 {
   font-size: var(--heading-font-size-xxl);
} 

/* 2 Section */
main .section.section-two .cards > ul {
  margin-top: 50px
} 
.section.section-two.card-carousel-container .owl-stage {
 display: flex;
}
.section.section-two.card-carousel-container .banner-carousel-item {
    height: 100%;
    background-color: #dadada;
}
.section.section-two.card-carousel-container .owl-theme .owl-item .cards-card-body {
  font-family: var(--fixed-font-family);
}
.section.section-two.card-carousel-container .owl-theme .owl-item .cards-card-body:first-child {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-l);
  width: 100%;
  margin: 0;
  text-align: center;
  background: #f2f2f2;
  padding: 0 0 10px;
}


/* 3 Section */
main .section.section-thr.div-container {
    max-width: 1200px;
    margin: auto;
    display: inherit;
}
.section.section-thr.div-container > div {
 max-width: none;
}
.section.section-thr .columns-wrapper {
 float: left;
 width: 300px;
 padding: 0 30px;
}
.section.section-thr .card-carousel-wrapper {
 overflow: auto;
}
.section.section-thr .columns-wrapper p {
    font-weight: 400;
}
.section.section-thr .button-container {
  text-align: center;
  padding-left: 300px;
  margin-top: 40px;
}
.section.section-thr.card-carousel-container .owl-stage {
 display: flex;
}
.section.section-thr.card-carousel-container .banner-carousel-item {
    background: #f2f2f2;
    height: 100%;
}
.section.section-thr.card-carousel-container .banner-carousel-item h5 {
  font-size: var(--heading-font-size-l);
    margin: 0;
    padding: 0 0 15px;
    line-height: 0.9;
}
.section.section-thr.card-carousel-container .owl-theme .owl-item .cards-card-image {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.section.section-thr.card-carousel-container .owl-theme .owl-item .cards-card-image * {
    height: 340px;
    width: auto;
    max-width: none;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    transform: scale(1.1);
    transition: all 0.7s ease;
}
.section.section-thr.card-carousel-container .owl-theme .owl-item:hover .cards-card-image * {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1);
}

/* 5 Section */
.section.section-fiv .columns.block.columns-2-cols div[data-valign="middle"] {
    max-width: 360px;
}
.section.section-fiv .columns.block.columns-2-cols p {
    font-weight: 400;
}

/* 6 Section */
body {
 overflow: hidden;
 width: 100%;
}
main .section.section-six h2 {
  margin-bottom: 50px
}
main .section.section-six.div-container {
    max-width: 1200px;
    margin: auto;
    display: inherit;
    position: relative;
}
main .section.section-six.div-container.bg-light-white:before {
  content: "";
  background: #f2f2f2;
  position: absolute;
  left: -20vw;
  right: -20vw;
  margin: auto;
  top: 0;
  bottom: 0;
  z-index: -1;
}
main .section.section-six.div-container > div {
 max-width: none;
}
main .section.section-six.div-container .columns-wrapper {
 float: left;
 width: 300px;
 padding: 0 30px;
}
main .section.section-six.div-container .tabs-wrapper {
 overflow: auto;
}
main .section.section-six.div-container .tabs-wrapper .tabs-carousel-list.owl-carousel .owl-dots .owl-dot {
  font-family: var(--heading-font-family);
  font-size: var(--body-font-size-m);
}

/* 7 Section */
main .section.section-sev h2 {
  margin-bottom: 50px
}


/* 8 Section */
main .section.section-eig.hero-container .hero-content {
  max-width: 750px;
  margin: auto;
  color: #ffffff;
}
main .section.section-eig.hero-container p {
  font-size: var(--body-font-size-m);
}
main .section.section-eig .button-container .button {
  color: var(--text-color-white);
  border-color: #ffffff;
}
main .section.section-eig .button-container .button:before,
main .section.section-eig .button-container .button:hover,
main .section.section-eig .button-container .button:focus {
    background-color: var(--background-color);
    color: #000000; 
}

/* 9 Section */
main .section.section-nin.hero-container>div {
  max-width: 1200px;
}
main .section.section-nin.hero-container .hero-wrapper {
  margin-top: 75px;
}
main .section.section-nin .button-container .button {
 font-family: var(--fixed-font-family);
 font-size: 18px;
 color: var(--text-color-white);
 width: 80px;
 height: 60px;
 background-color: rgba(0, 0, 0, 0.8);
 text-align: center;
 border-radius: 50px;
 font-weight: 400;
 border: transparent;
 line-height: 28px;
 padding: 20px 10px;
 text-transform: capitalize;
}
