.tabs-carousel-list.owl-carousel .tabs-carousel-item {
    padding: 25px;
    border: 1px solid #000;
    border-radius: 20px;
    padding-bottom: 0;
}
.tabs-carousel-list.owl-carousel .tabs-title { display: none; }
.tabs-carousel-list.owl-carousel .tabs-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tabs-carousel-list.owl-carousel .tabs-body > * {
  flex: 0 0 auto;
  width: 31%;
}
.tabs-carousel-list.owl-carousel .owl-item img {
  width: auto;
}
.tabs-carousel-list.owl-carousel .owl-item picture {
    background-color: #ffff;
    border-radius: 20px;
    padding: 25px;
    cursor: pointer;
    margin-bottom: 25px;
}
.tabs-carousel-list.owl-carousel .owl-stage-outer {
    padding-top: 40px;
}
.tabs-carousel-list.owl-carousel .owl-dots {
    position: absolute;
    top: 0;
    margin: 0 !important;
}
.tabs-carousel-list.owl-carousel .owl-dots .owl-dot {
    height: auto;
    width: auto;
    border: 1px solid grey;
    padding: 8px 46px;
    border-radius: 20px 20px 0 0;
    margin: 0 20px;
    font-size: 16px;
    text-transform: uppercase;
}
.tabs-carousel-list.owl-carousel .owl-dots .owl-dot:nth-child(1) {
  background: #ffffff;
  border-color: #ffffff;
  color: #000000;
}
.tabs-carousel-list.owl-carousel .owl-dots .owl-dot:nth-child(2) {
  background: #df9926;
  border-color: #df9926;
}
.tabs-carousel-list.owl-carousel .owl-dots .owl-dot:nth-child(3) {
  background: #0f9ffa;
  border-color: #0f9ffa;
}
.tabs-carousel-list.owl-carousel .owl-item:nth-child(1) .tabs-carousel-item {
    border-color: #ffffff;
}
.tabs-carousel-list.owl-carousel .owl-item:nth-child(2) .tabs-carousel-item {
    border-color: #df9926;
}
.tabs-carousel-list.owl-carousel .owl-item:nth-child(3) .tabs-carousel-item {
    border-color: #0f9ffa;
}
