.tabs-body {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.tabs-body > * {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.tabs-carousel-list.owl-carousel .owl-item img {
  width: auto;
}
.tabs-carousel-list.owl-carousel .owl-item picture {
    background-color: #ffff;
    border-radius: 20px;
    padding: 25px;
    cursor: pointer;
}
