.card-carousel-container .card-carousel-list {
    padding-top: 40px;
}
.card-carousel-container h2 {
    padding-top: 20px;
}
.card-carousel-container .owl-theme .owl-nav {
    position: absolute;
    top: -14px;
    right: 15px;
    margin: 0;
}
.card-carousel-container .owl-theme .owl-nav button {
  position: relative;
  font-size: 0;
  width: 50px;
  height: 3px;
  margin: 0;
  background: #df9926;
}
.card-carousel-container .owl-theme .owl-nav button ~ button {
  margin-left: 38px;
}
.card-carousel-container .owl-theme .owl-nav button:after {
    content: "";
    position: absolute;
    top: -6px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
.card-carousel-container .owl-theme .owl-nav button.owl-next:after {
    border-left: 16px solid #df9926;
    right: -14px;
}
.card-carousel-container .owl-theme .owl-nav button.owl-prev:after {
    border-right: 16px solid #df9926;
    left: -14px;
}

.card-carousel-container .owl-theme .owl-item .banner-carousel-item {
    background: #f2f2f2;
}
.card-carousel-container .owl-theme .owl-item .cards-card-body {
    display: inline-block;
    padding: 15px;
}
.card-carousel-container .owl-theme .owl-item .cards-card-image {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.card-carousel-container .owl-theme .owl-item .cards-card-image * {
    height: 340px;
    width: auto;
    max-width: none;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    transform: scale(1.1);
    transition: all 0.7s ease;
}
.card-carousel-container .owl-theme .owl-item:hover .cards-card-image * {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1);
}

